/* main Section start here */
:root {
   
    --bg-color: #f1f1f1;
    --text-color: #333;
    --primary-color: #007bff;
    --white: #fff;
    --bg-2: #000;
    --reverse-text:#fff;
    --for-heading: #ededed;
    

   
    
}
.dark-theme {
    
    --bg-color: black;
    --text-color: white;
    --primary-color: #224bf0;
    --white: #000;
    --bg-2:#fff;
    --reverse-text:#000;
    --for-heading:#224bf0;
    
   
}

*,body, html{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    

}
/* styles.css */

/* Hide default scrollbar in WebKit browsers */
.scrollable-content::-webkit-scrollbar {
    width: 0;
    height: 0;
    /* display: none; */
}

/* Custom scrollbar styles for WebKit browsers */
.scrollable-content::-webkit-scrollbar-thumb {
    background-color:var(--bg-color);
    border-radius: 10px;
}

.scrollable-content::-webkit-scrollbar-track {
    background-color: var(--text-color);
}

/* Optional: Custom scrollbar for Firefox */
.scrollable-content {
    scrollbar-width: thin;  /* "auto" or "thin" */
    scrollbar-color:  var(--text-color) var(--white);  /* thumb color and track color */
}

.scrollable-content {
    height: 100vh;
    overflow-y: scroll;
    padding: 10px;
    border: 1px solid var(--bg-color);
}





.main {
    width: calc(100vw-100px);
    overflow-x: hidden;
    margin: 0px;
    padding: 0px;
    background-color: var(--white);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav{
    width: calc(100% - 20px);
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: var(--text-color) 1px solid; */

}

.button-container {
    display: flex;
    background-color: var(--primary-color);
    width: 50px;
    height:50px;
    
    align-items: center;
    justify-content: space-around;
    border-radius: 50%;
    box-shadow: var(--text-color) 0px 5px 15px,
    var(--primary-color) 5px 10px 15px;
  }

  .button {
    outline: 0 !important;
    border: 0 !important;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all ease-in-out 0.3s;
    cursor: pointer;
  }
  
  .button:hover {
    transform: translateY(-3px);
  }
  
  .icon {
    font-size: 20px;
  }
  




nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-color);
    color: var(--text-color);
    padding: 10px 20px;

}

nav .nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 20px;
    /* background: #333;
    color: #fff; */
}

.wrapper-logo-name {
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
    
}

.wrapper-logo-name img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 0;
    box-shadow: var(--primary-color) 1px 1px 1px,
    var(--primary-color) 1px 1px 1px;
}
.wrapper-logo-name a{
    color: var(--text-color);
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
}
.wrapper-logo-name a>span{
    color: var(--primary-color);
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
}


nav .nav-wrapper ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
nav .nav-wrapper ul li {
    list-style: none;
}
nav .nav-wrapper ul li a {
    color: var(--text-color);
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 10px 15px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

nav .nav-wrapper ul li a:hover {
    background-color: var(--primary-color);
    color: var(--bg-color);
}
nav .nav-wrapper .menu-icon {
    display: none;
}

nav .menu-icon .line {
    width: 25px;
    height: 3px;
    background-color: var(--text-color);
    margin: 5px;
    transition: all 0.3s ease;
}
nav .menu-icon.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}
nav .menu-icon.active .line:nth-child(2) {
    opacity: 0;
}

/* nav Section end here */

/* nav section media query  */

@media screen and (max-width: 768px) {
    nav .nav-wrapper{
        padding: 0 4px;
    }
    nav .nav-wrapper .wrapper-logo-name a{
        font-size: 1rem;
    }
    nav .nav-wrapper .wrapper-logo-name a span{
        font-size: 1rem;
    }
    nav .nav-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 0 20px;
    }
    nav .nav-wrapper .menu-icon {
        display: block;
        font-size: 1.5rem;
        cursor: pointer;
    }

    nav .nav-wrapper .menu-icon.active .line:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }
    nav .nav-wrapper .menu-icon.active .line:nth-child(2) {
        opacity: 0;
    }

    nav .nav-wrapper ul {
        display: none;
    }
    nav .nav-wrapper ul.active {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: var(--bg-color);
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    nav .nav-wrapper ul.active li {
        width: 100%;
        text-align: center;
    }
    nav .nav-wrapper ul.active li a {
        width: 100%;
        padding: 10px 0;
    }
}


/* nav end */
 
 .heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 60px;
    padding-bottom: 10px;
    background-color: var(--white);
    margin: 0;
    
 }

  .heading .heading-text{
    font-size: 2.0em;
    color: var(--primary-color);
    margin-bottom: 20px;
    text-align: center;
  
  }
  .heading .btn-task{
    background-color: var(--primary-color);
    color: var(--bg-color);
    padding: 5px 10px;
    border-radius: 5px;
    border-color: var(--primary-color);
    text-decoration: none;
    font-size: 1.0em;
    margin: 10px 0;
    display: inline-block;
    transition: all 0.3s ease;
  
  }
  .container{
    padding: 0 50px;
 }





/*   container  */
/*   style on the javascript classes */
/* styles.css */
#tasks-container .task-container{

    margin: 10px 0;
    border-radius: 30px;
}
.task-container .task-main-heading{
  background-color: var(--for-heading);
    color: var(--text-color);
    padding: 30px;
    border-radius: 10px;

}

.task-main-heading .task-title{
     font-weight: 900;
     color:(var(--text-color));
     padding: auto;
}
.task-main-heading .task-descrition{
    color: var(--text-color);
}
.asset-container-main{
    background-color: var(--white);
    padding: 15px;
    margin: 10px 0;
    text-align: left;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;

}
.asset-container-main .asset-container{
    border: 1px solid #ddd;
     /* padding: 15px;  */
    /* margin: 10px 0; */ 
    text-align: left;
    border-radius: 30px;
    box-shadow: var(--text-color) 2px 2px 5px ;

}
.asset-container .divforheadingandexclamtory{
    background-color: var(--bg-2);
    color: var(--reverse-text);
    border-radius:30px 30px 0px 0px;
    padding: 20px;
    
}
.divforheadingandexclamtory{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.asset-container .divforheadingandexclamtory img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 0;
    box-shadow: var(--primary-color) 1px 1px 1px,
    var(--primary-color) 1px 1px 1px;

}
.asset-container p{
    padding: 10px;
    font-size: small;
    color: var(--text-color);
    text-align: center;
}
.asset-container .video-container{
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 10px;

}
.video-container iframe{
    width: 100%;
    border-radius: 30px;

}



/*   four asset box styles start from here  */
/*  div structure  -> .taskcontainer -> .taskmain-heading && .asset-container-main */
/* .asset-container {
    border: 1px solid #ddd;
    padding: 15px;
    margin: 10px 0;
    text-align: left;
}

.asset-container h3 {
    font-size: 1.2em;
    margin-bottom: 5px;
} */
